.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98vw;
  height: 88.3vh;
}
mat-card{

  background-image: linear-gradient(#ccfbff,#ef96c5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
}
.div-container{
  display: flex;

}

mat-card-content{
  margin: 10px;
}

.mat-card-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-card-img>img{
  padding-right:20px ;
  width: 50px;
}
.mat-card-img>mat-card-title{
  font-size: 3rem;
}
.form-field {
  width: 200px;
}



.btn-search{
  margin-left: 20px;
  height: 40px;
}


