@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: 'Ubuntu Condensed', sans-serif }


.error{
  color: #fff;
  background-color: red;
}
.success{
color:#fff;
background-color: green;
}
